<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  This is the Contact page
</p>
<p>
  The Ruby on rails tutorial is a project to make a book and screen casts to teach Web
  developers with Ruby on rails. This is the sample application for the tutorial.
</p>