<!DOCTYPE html>
<html>
<head>
  <title>Help</title>
</head>
<body>
<h1>Ruby on Rails Tutorial Sample App | Help</h1>
<p></p>
<p> The Ruby on rails tutorial is a project to make a book and screen casts to teach Web developers with Ruby on rails. This is the sample application for the tutorial.</p>
</body>
</html>