<% provide(:title, 'Home') %>
<h1>Home</h1>
<p>
  The Ruby on rails tutorial is a project to make a book and screen casts to teach Web
  developers with Ruby on rails. This is the sample application for the tutorial.
</p>
