<% if @user.errors.any? %>
<div class="alert alert-danger">Invalid Information!</div>
<p style="color: red">
  <ul style="color: red; list-style: none">
    <% @user.errors.full_messages.each do |m| %>
      <li><%= m %></li>
    <% end %>
  </ul>

</p>


<% end %>

